
A.menu1 		{
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma;
	font-family:Tahoma, Verdana;
	font-size:11px;
	text-decoration: none;
}
A.menu1:hover {
	COLOR: #324E69;
	FONT-FAMILY: Tahoma;
	font-family:Tahoma, Verdana;
	font-size:11px;
	text-decoration: underline;
}